#search-plant {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1;
    background-color: grey;
    flex-direction: column;
    max-width: 50%;
    height: 150px;
    justify-content: space-evenly;
    padding-top: -10px;
    align-content: center;
    border-radius: 7px;
    opacity: 65%;
    border: 2px solid white;
    align-items: center;
    margin-left: 150px;
}

.select-plant {
    display: inline-flex;
    width: 500px;
    height: 500px;
    padding: 25px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.show-plants{
    display: flex;
    vertical-align: top;
    flex-wrap: wrap;
    grid-row: 5;
    grid-column: 2;
}

#plant-image{
   width: 50%;
   height: 50%;
}

#add-plnts-GreenHouse{
    display: flex;
    align-items: baseline;
    align-content: stretch;
    justify-content: center;
    padding: 5px;
    width: 10%;
    justify-content: center;
    margin: 50px 0 0 266px;
}