/* @import  "/client/css/addNewPlants.css"; */

body {
  max-width: 100%;
  margin: auto;
  display: grid;
}

#logo {
  width: 100px;
  height: auto;
  margin-left: 35px;
}

#plants-details {
  margin: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: "header header header";
  grid-gap: 16px;
}
h1.header-h1 {
  grid-area: header;
  justify-self: center;
}
.plant {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  justify-items: center
}
.plant-image {
  height: 250px;
  width: 330px;
  padding: 37px;
  justify-content: center;
}
div.plant > p {
  padding: 10px;

}
section#plants-details > a {
  align-self: grid;
}

.button-plants{
  display: grid;
    width: 25%;
    color: white;
    background-color: #7E8285;
    border-radius: 5px;
    border: none;
    position: relative;
    text-align: center;
    height: 25%;
    padding-top: 5px;
    grid-column: 2;
    align-items: center;
    grid-row: 2;
}


.add-plants{
  display: grid;
    width: 25%;
    color: white;
    background-color: #7E8285;
    border-radius: 5px;
    border: none;
    position: relative;
    text-align: center;
    height: 25%;
    padding-top: 5px;
    grid-column: 2;
    align-items: center;
    grid-row: 2;
}

.Logout{
  display: grid;
    width: 25%;
    color: white;
    background-color: #7E8285;
    border-radius: 5px;
    border: none;
    position: relative;
    text-align: center;
    height: 25%;
    padding-top: 5px;
    grid-column: 2;
    align-items: center;
    grid-row: 2;
}

.header-greenhouseh1{
margin-left: 10px;
display: grid;
grid-column-start: 1;
grid-row-start: 1;
margin-left: 10px;
display: grid;
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 1;
margin-bottom: 150px;
justify-items: center;
align-content: stretch;
align-items: center;
color: #7E8285;
}
